:root{
    --black: #1D2128;
    --white: #ffffff;
    --gray: #999B9E;
    --pink: #FFC0CB;
    --orange:#ffa500;
    --yellow: #FFFF00;
    --green: #90EE90;
    --darkpink:#E37383;
    --turquoise:#74E6FF;
    --blue:#778FFD;
    --lightblue: #C0F1FC;
    --purple:#D9BEF6;
}