@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root{
    --font-primary:'Roboto', sans-serif;
}

#header{
    font-weight: 700;
    font-size: 14px;
    font-family: var(--font-primary);
}

.side-lg{
    font-weight: 400;
    font-size: 18px;
    font-family: var(--font-primary);
}

.title{
    font-family: var(--font-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
    outline: none;
    border: none;
    background-color: transparent;
}


.subtitle{
    font-family: var(--font-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    outline: none;
    border: none;
    background-color: transparent;
}

#alert{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
}

#main{
    color: var(--white);
    text-align: center;
    font-family: var(--font-primary);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    letter-spacing: 0.25px; 
    padding-top: 150px;
}